* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.full_width_contact1 {
    background: #0e0e2e;
    width: 100%;
    height: auto
}

.fix_width_contact1 {
    max-width: 1600px;
    background: #0e0e2e;
    height: auto;
    margin: 0 auto;
}

.content_contactus1 {
    flex-wrap: wrap;
    background-color: #170f2f;
    justify-items: center;
}

.contactimages {
    width: 100%;
    height: auto;
}

.box-1contactus {
    display: flex;
    align-items: center;
    padding: 17px 30px;
    box-shadow: 0px 4px 13px 1px rgba(95, 45, 237, 0.16);
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    border: none;
}

.full_width_contactus2 {
    background: #0e0e2e;
    width: 100%;
    height: auto
}

.fix_width_contactus2 {
    max-width: 1600px;
    background: #0e0e2e;
    height: auto;
    margin: 0 auto;
}


.content_contactus2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e0e2e;
    padding: 30px;
    gap: 50px;
}

.paragraph1contact {
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding-bottom: 20px;
}

.paragraph2contact {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.fa-envelope-open-text {
    color: #5F2DED;
    font-size: 38px;
}

.fa-location-crosshairs {
    color: #5F2DED;
    font-size: 38px;
}

.fa-phone-volume {
    color: #5F2DED;
    font-size: 38px;
}

.box-1acontactus {
    padding: 10px;
    gap: 20px;

}

.content_contactus3 {
    align-items: center;
    justify-content: center;
    background-color: #0e0e2e;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;
}

.boxform1 {
    display: flex;
    gap: 25px;
}

.formpara1 {
    font-size: 35px;
    font-weight: 600;
    color: white;
    padding: 8px;
}

.formpara2 {
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 8px;
}

.formbutton {
    padding: 10px 25px;
    background-color: #5f2ded;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    gap: 20px;
    color: white;
    font-size: 15px;
}

.boxform1a {
    width: 80%;
    padding-left: 27px;
    border: 1px solid;
    margin-bottom: 30px;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    padding: 20px;
}

.registertextarea {
    border: none;
    color: white;
    height: 155px;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 54px;
    margin-bottom: 25px;
    background-color: #0e0e2e;
    border: solid white;
}

.formcolumn {
    width: 100%;
    font-size: 18px;
    background-color: #0e0e2e;
    border: none;
}

.box_1aboutus {
    width: 60%;
    height: auto;
}


@media only screen and (max-width:1024px) {
    .paragraph1contact {
        font-size: 16px;
        padding-bottom: 8px;
    }

    .box_bold1 {
        font-size: 15px;
    }

    .box_bold2 {
        font-size: 14px;
    }

    .box_footer1 {
        line-height: 25px;
    }

}

@media only screen and (max-width:768px) {
    .box_footer1 {
        line-height: 20px;
    }

    .box-1contactus {
        width: 30%;
        padding: 5px;
    }

    .paragraph2contact {
        font-size: 12px;
    }

    .content_contactus2 {
        gap: 30px;
    }
}

@media only screen and (max-width:600px) {
    .content_contactus2 {
        flex-direction: column;
    }

    .box-1contactus,
    .box_1aboutus {
        width: 100%;
    }

    .formcolumn {
        font-size: 13px;
    }

    .registertextarea {
        height: 80px;
    }
}