* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.full_width_aboutus1 {
    background: #0e0e2e;
    width: 100%;
    height: auto
}

.fix_width_aboutus1 {
    max-width: 1600px;
    background: #0e0e2e;
    height: auto;
    margin: 0 auto;
}

.content_aboutus1 {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #170f2f;
    justify-items: center;
}

.box_1aboutus {
    width: 60%;
    height: auto;
}

.aboutusimages {
    width: 100%;
    height: auto;
}

.box_2aboutus {
    background-color: #0c0e2b;
    width: 50%;
    height: auto;
    align-self: center;
}

.content_aboutus2 {
    display: flex;
    background-color: #0c0e2b;
    padding-left: 80px;
    padding-right: 80px;
}

.aboutusbutton {
    padding: 5px 23px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #5f2ded;
    border-radius: 20px;
    background: #e7deff;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.headingbold1 {
    text-align: left;
    font-size: 45px;
    line-height: 54px;
    color: white;
    font-weight: 700
}

.headingbold2 {
    text-align: center;
    font-size: 45px;
    line-height: 54px;
    color: white;
    font-weight: 700
}

.paragraph2 {
    font-size: 16px;
    line-height: 30px;
    color: white;
    padding: 13px;
    font-weight: 400
}

.buttonmoreabout {
    padding: 10px 25px;
    background-color: #5f2ded;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
}

.minorbox2 {
    display: flex;
    color: white;
    padding: 12px;
    font-size: 20px;
    gap: 20px;
}

.fa-medal {
    font-size: 40px;
}

.content_aboutus3 {
    text-align: center;
    flex: column;
    padding: 50px;
}

.selectbutton {
    padding: 17px 30px;
    background: var(--whiteColor);
    box-shadow: 0px 4px 13px 1px rgba(95, 45, 237, 0.16);
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: white;
    border: none;
    margin-right: 30px;
}

.content_aboutus4 {
    justify-items: center;
    padding: 25px;
}

.content_aboutus5 {
    gap: 15px;
    padding: 30px;
}

.content6 {
    justify-content: center;
    display: flex;
}

.box_courselist {
    width: 28%;
    height: auto;
    background-color: #17093e;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0px 4px 13px 1px rgba(95, 45, 237, 0.16);
}

.container2 {
    color: white;
    padding: 15px;
}

.container3 {
    color: white;
    padding: 10px;
    font-size: 20px;
}

.container4 {
    display: flex;
    gap: 20px;
    padding: 15px;
}

.container5 {
    display: flex;
    gap: 20px;
    padding: 15px;
    color: white;
}

.unorderlist1 {
    align-items: center;
    display: flex;
    gap: 14px;
    list-style: none;
}

.fa-star {
    color: yellow;
}

.contenttestimonial {
    align-items: center;
    justify-items: center;
    padding: 30px;
    background-color: #170f2f;
}

.underline {
    border-bottom: 5px solid #f2277e;
}

.content8 {
    display: flex;
    justify-content: center;
    background-color: #170f2f;
    gap: 40px;
}

.box_testimonial {
    width: 30%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #101230;
}

.box_testimonial1 {
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
    color: white;
}

.box_testimonial2 {
    display: flex;
    gap: 20px;
    color: white;
    align-items: center;
}

.fa-quote-left {
    color: white;
    background-color: #5f2ded;
    font-size: 40px;
    padding: 10px;
}

.content9 {
    display: flex;
    padding: 30px;
    justify-content: center;
    background-color: #170f2f;
    gap: 40px;
}

.footerbox {
    display: flex;
    gap: 10px;
    color: white;
    padding: 5px;
}

.fa-clock {
    background-color: #5f2ded;
    color: white;
    font-size: 20px;
    padding: 5px;

}

.box_bold {
    font-size: 20px;
    font-weight: 400
}

.box_20 {
    width: 50%;
    padding: 30px;
}

.box_footer1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: white;
    padding-bottom: 10px;
}

.fa-square-facebook {
    color: white;
    background-color: #6a6676;
    padding: 10px;
}

.fa-square-twitter {
    color: white;
    background-color: #6a6676;
    padding: 10px;
}

.fa-vimeo {
    color: white;
    background-color: #6a6676;
    padding: 10px;
}

.fa-linkedin {
    color: white;
    background-color: #6a6676;
    padding: 10px;
}

.fa-skype {
    color: white;
    background-color: #6a6676;
    padding: 10px;
}

.content17 {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;

}

.fix_width_pages1 {
    max-width: 1600px;
    background: #0e0e2e;
    height: auto;
    margin: 0 auto;
}

.contentpages1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    box-shadow: 0px 4px 13px 1px rgba(95, 45, 237, 0.16);
}

.unorderlistpages {
    display: flex;
    list-style: none;
    gap: 40px;
    color: white;
    font-weight: 400
}

.listpages {
    font-size: 20px;
    font-weight: 300
}

@media only screen and (max-width:1024px) {
    .content_aboutus2 {
        padding: 20px;
    }

    .headingbold1 {
        font-size: 35px;
    }

    .headingbold2 {
        font-size: 35px;
    }

    .container5 {
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 30px;
    }

    .box14biii,
    .box14biv {
        font-size: 14px;
    }

    .container3 {
        font-size: 16px;
    }

    .aboutusimages {
        border-radius: 10px;
    }

    .headingbold1 {
        font-size: 30px;
        line-height: 45px;
    }

    .list1 {
        font-size: 12px;
    }

    .box14di {
        color: #44cea9;
        font-size: 15px;
    }

    .container5 {
        gap: 10px;
    }

    .box14diii {
        font-size: 10px;
    }

    .box14div {
        font-size: 10px;
    }

    .headingbold2 {
        font-size: 25px;
    }
}

@media only screen and (max-width:600px) {

    .content1,
    .content2,
    .content15,
    .content16,
    .content17,
    .box_5,
    .content_aboutus2,
    .content_aboutus3,
    .unorderlist2 {
        flex-direction: column;
    }

    .unorderlist1,
    .unorderlist2,
    .box_2aboutus,
    .headingbold1,
    .box_1aboutus,
    .paragraph2,
    .aboutusbutton,
    .minorbox1,
    .box_courselist,
    .box_5a,
    .box_20,
    .box_testimonial2,
    .box_12c {
        width: 100%;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }

    .selectbutton {
        margin: 30px;
    }

    .content_aboutus4 {
        padding: 2px;
    }

    .box_courselist,
    .box_testimonial {
        width: 90%;
    }

    .headingbold2 {
        line-height: 35px;
    }

    .box_2b {
        width: 100%;
    }

    .box_14c {
        font-size: 20px;
    }

}